@media only screen and (min-width: 992px){
  .Login {
    width: 20%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
@media only screen and (max-width: 992px){
  .Login {
    width: 70%;
    text-align: center;

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .button-wrapper{
    display:inline-block;
    width: 47%;
    text-align: center;
  }
}
